In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Analyst")

In [5]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [6]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
title = []
location = []
company_name = []
exp = []

In [8]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags:
    tit = i.text
    title.append(tit)

In [9]:
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags:
    loc = i.text
    location.append(loc)

In [10]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    com = i.text
    company_name.append(com)

In [11]:
exp_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags:
    ex = i.text
    exp.append(ex)

In [12]:
print(len(title),len(location),len(exp),len(company_name))

20 20 20 20

In [13]:
data = pd.DataFrame({"Title":title,"Location":location,"Comapny Name":company_name,"Experience":exp})

In [14]:
data

,Title,Location,Comapny Name,Experience
0,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-4 Yrs
1,Business Data Analysts (People & Culture),Bangalore/Bengaluru,Zscaler Softech,5-6 Yrs
2,Data Analyst- PYTHON+SCALA,Bangalore/Bengaluru,Capco,3-7 Yrs
3,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,5-7 Yrs
4,Data Analyst,Bangalore/Bengaluru,Alp Consulting,4-5 Yrs
5,Senior Data Analyst - DC,Bangalore/Bengaluru,Boston Consulting Group,4-6 Yrs
6,Data Analyst/Sr Data Analyst,Bangalore/Bengaluru,Adecco Group,1-4 Yrs
7,Manager/Senior Manager - Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Huquo Consulting Pvt. Ltd,2-7 Yrs
8,Croma - Data Analyst - Mumbai / Bangalore,"Hybrid - Bangalore/Bengaluru, Mumbai",Croma,4-9 Yrs
9,Data Analyst-Pyspark,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",Capco,7-12 Yrs
10,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Capco,6-11 Yrs
11,Translation - Data Analyst,Bangalore/Bengaluru,Avery Dennison,3-6 Yrs
12,Sr. Data Analyst,"Bangalore/Bengaluru, Chennai",Bizanalytica Solution Llp,4-9 Yrs
13,Senior Data Analyst III,Bangalore/Bengaluru,Flipkart,7-12 Yrs
14,Assistant Manager / Lead / Manager - Data Anal...,"Bangalore/Bengaluru, Gurgaon/Gurugram",Huquo Consulting Pvt. Ltd,2-6 Yrs
15,OTA - Data Analyst,Permanent Remote,Treebo Hotels,1-4 Yrs
16,Healthcare Research and Data Analyst,Bangalore/Bengaluru,CPA Global,2-5 Yrs
17,Senior Analyst - Data Management,Bangalore/Bengaluru,Accenture,5-8 Yrs
18,"Data Analyst , Data Analytics",Bangalore/Bengaluru,Cardinal Drugs Ltd.,3-8 Yrs
19,HR Data Analyst,Hybrid - Bangalore/Bengaluru,Walmart,2-5 Yrs

In [15]:
data.to_csv("Naukri.com_data_analyst.csv")

In [16]:
url = []

In [17]:
url_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in url_tags:
    ur = i.get_attribute('href')
    url.append(ur)

In [18]:
len(url)

20

In [19]:
job_titles = []

for i in range(0,3):
    titles = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
    for j in titles:
        job_titles.append(j.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]')
    next_button.click()
    time.sleep(5)

In [20]:
len(job_titles)

60