In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
desi = driver.find_element(By.XPATH,'//input[@class="suggestor-input "]')
desi.send_keys("Data Scientist")

In [5]:
loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
loc.send_keys("Bangalore")

In [6]:
search = driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
search.click()

In [7]:
title = []
location = []
exp = []
url = []
company_name = []

In [8]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags:
    tit = i.text
    title.append(tit)

In [9]:
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags:
    loc = i.text
    location.append(loc)

In [10]:
exp_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags:
    ex = i.text
    exp.append(ex)

In [11]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    co = i.text
    company_name.append(co)

In [12]:
len(title),len(location),len(exp),len(company_name)

(20, 20, 20, 20, 0)

In [13]:
data = pd.DataFrame({"JOB TITLE":title,"LOCATION":location,"EXPERIENCE":exp,"COMPANY NAME":company_name})

In [14]:
data

,JOB TITLE,LOCATION,EXPERIENCE,COMPANY NAME
0,Data Scientist,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",7-12 Yrs,Tech Mahindra
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",2-4 Yrs,Accenture
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",6-8 Yrs,Accenture
3,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",8-12 Yrs,Birlasoft
4,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Hyderabad...",8-12 Yrs,Birlasoft
5,Data Scientist Knowledge graph,"Hybrid - Bangalore/Bengaluru, Pune",7-12 Yrs,Capco
6,Data Scientist (Analyst),Bangalore/Bengaluru,3-6 Yrs,Visa
7,Supply Chain Specialist Staff,Bangalore/Bengaluru,7-11 Yrs,Juniper Networks
8,Opportunity For Data Scientist/Sr. Data Scient...,"Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram...",3-5 Yrs,PayU
9,Research Scientist,Bangalore/Bengaluru,2-5 Yrs,Siemens
10,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,2-6 Yrs,Accenture
11,Senior AI Engieer,Bangalore/Bengaluru,5-7 Yrs,Digit Insurance
12,Software Engineer Staff,Bangalore/Bengaluru,3-8 Yrs,Juniper Networks
13,Data Scientist - NLP (looking For early joiners),"Temp. WFH - Bangalore/Bengaluru, Pune, Chennai",4-9 Yrs,Wipro
14,Job | Hiring For AVP/ VP | Senior Data Scienti...,"Hybrid - Bangalore/Bengaluru, Pune, Gurgaon/Gu...",8-13 Yrs,Citicorp Finance
15,DATA SCIENTIST,Bangalore/Bengaluru,3-5 Yrs,Mindtree
16,Junior Projects Engineer,Bangalore/Bengaluru,5-10 Yrs,Jacobs
17,Data Science - Technical Lead,"Bangalore/Bengaluru, Noida",6-8 Yrs,Paytm
18,Data Science - Senior Software Engineer,"Bangalore/Bengaluru, Noida",3-6 Yrs,Paytm
19,Sr. Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad",6-8 Yrs,Accolite Software India Pvt Ltd

In [15]:
data.to_csv("DATA SCIENTIST Bangalore.csv")