In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [5]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [6]:
locf = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
locf.click()

In [7]:
sf = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
sf.click()

In [8]:
title = []
location = []
company_name = []
exp = []

In [9]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags:
    tit = i.text
    title.append(tit)

In [10]:
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags:
    loc = i.text
    location.append(loc)

In [11]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    com = i.text
    company_name.append(com)

In [12]:
exp_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags:
    ex = i.text
    exp.append(ex)

In [13]:
print(len(title),len(location),len(exp),len(company_name))

12 12 12 12

In [14]:
data = pd.DataFrame({"Title":title,"Location":location,"Comapny Name":company_name,"Experience":exp})

In [15]:
data

,Title,Location,Comapny Name,Experience
0,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
1,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
2,AWS Data Warehouse Developer - IT Industry,"Delhi / NCR, Bangalore/Bengaluru, Maharashtra",GenNext India Private Limited,4-9 Yrs
3,SE/SSE-Data Scientist,Delhi / NCR,Bold Technology Systems,3-8 Yrs
4,Occupancy Surveyor - Gurugram,Gurgaon/Gurugram,Vatika Hotels,5-10 Yrs
5,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
6,Junior Data Scientist,Delhi / NCR,Skyleaf Consultants,2-4 Yrs
7,Modeler,Noida,Resource Access Management Solutions Pvt. Ltd.,3-7 Yrs
8,Associate Data Scientist,Noida,Navikenz India,3-8 Yrs
9,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
10,Data Scientist,New Delhi,Razor Group Gmbh,2-3 Yrs
11,Senior Data Scientist - Python (f/m/x),New Delhi,Razor Group Gmbh,5-10 Yrs

In [16]:
data.to_csv("Naukri.com_data_scientist_delhi_3_6.csv")