In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://www.flipkart.com/")

In [4]:
deny = driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
deny.click()

In [5]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys("sneakers")

In [6]:
sb = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
sb.click()

In [7]:
brand = []
prd = []
price = []

In [8]:
for i in range(0,3):
    if i==0:
        name_tag = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
        for x in name_tag:
            nn = x.text
            brand.append(nn)
        
        price_tag = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
        for y in price_tag:
            mm = y.text
            prd.append(mm)
        
        disc_tag = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
        for z in disc_tag:
            tt = z.text
            price.append(tt)
            
    
    if i==1:
        driver = webdriver.Chrome(r"chromedriver.exe")
        driver.get("https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2")
        name_tag = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
        for x in name_tag:
            nn = x.text
            brand.append(nn)
        
        price_tag = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
        for y in price_tag:
            mm = y.text
            prd.append(mm)
        
        disc_tag = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
        for z in disc_tag:
            tt = z.text
            price.append(tt)
            
    if i==2:
        driver = webdriver.Chrome(r"chromedriver.exe")
        driver.get("https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3")
        name_tag = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
        for x in name_tag:
            nn = x.text
            brand.append(nn)
        
        price_tag = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
        for y in price_tag:
            mm = y.text
            prd.append(mm)
        
        disc_tag = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
        for z in disc_tag:
            tt = z.text
            price.append(tt)

In [9]:
brand = brand[:100]
prd = prd[:100]
price = price[:100]

In [11]:
data = pd.DataFrame({"NAME":brand,"Product Description":prd,"Price":price})

In [12]:
data

,NAME,Product Description,Price
0,World Wear Footwear,Sneakers For Men,₹259
1,aadi,Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...,₹359
2,World Wear Footwear,5011-Latest Collection Stylish & Trendy Casual...,₹199
3,aadi,Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...,₹282
4,RED TAPE,Sneakers For Men,"₹1,199"
...,...,...,...
95,PUMA,Sneakers For Men,"₹2,587"
96,Skechers,Exclusive Affordable Collection of Trendy & St...,"₹3,149"
97,PUMA,LOUVAIN NUBUCK Sneakers For Men,"₹1,509"
98,Layasa,Court Royale 2 Next Nature Sneakers For Men,₹399
99,aadi,Future-04 casual shoes for men | Latest Stylis...,₹499