In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time

In [2]:
from selenium.common.exceptions import NoSuchElementException

In [3]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get("https://www.forbes.com/?sh=1951082d2254")

In [5]:
driver.maximize_window()

In [6]:
dropdown = driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div[1]/div/div/div')
dropdown.click()

In [7]:
bil = driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div[1]/div/div/div[2]/ul/li[1]/div[1]')
bil.click()

In [8]:
path = driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div[1]/div/div/div[2]/ul/li[1]/div[2]/div[3]/ul/li[1]')
path.click()

In [9]:
rank = []
name = []
net = []
age = []
country = []
source = []
ind = []

In [10]:
try:
    rank_tag = driver.find_elements(By.XPATH,'//div[@class="rank"]')
    for i in rank_tag:
        j = i.text
        rank.append(j)
except NoSuchElementException as e:
    rank.append("-")

In [11]:
len(rank)

200

In [12]:
try:
    name_tag = driver.find_elements(By.XPATH,'//div[@class="personName"]')
    for i in name_tag:
        j = i.text
        name.append(j)
except NoSuchElementException as e:
    name.append("-")

In [13]:
try:
    net_tag = driver.find_elements(By.XPATH,'//div[@class="netWorth"]')
    for i in net_tag:
        j = i.text
        net.append(j)
except NoSuchElementException as e:
    net.append("-")

In [14]:
try:
    age_tag = driver.find_elements(By.XPATH,'//div[@class="age"]')
    for i in age_tag:
        j = i.text
        age.append(j)
except NoSuchElementException as e:
    age.append("-")

In [15]:
try:
    country_tag = driver.find_elements(By.XPATH,'//div[@class="countryOfCitizenship"]')
    for i in country_tag:
        j = i.text
        country.append(j)
except NoSuchElementException as e:
    country.append("-")

In [16]:
try:
    source_tag = driver.find_elements(By.XPATH,'//div[@class="source-column"]')
    for i in source_tag:
        j = i.text
        source.append(j)
except NoSuchElementException as e:
    source.append("-")

In [17]:
try:
    ind_tag = driver.find_elements(By.XPATH,'//div[@class="category"]')
    for i in ind_tag:
        j = i.text
        ind.append(j)
except NoSuchElementException as e:
    ind.append("-")

In [18]:
data = pd.DataFrame({"RANK":rank,"NAME":name,
                    "NETWORTH":net,"AGE":age,
                    "COUNTRY":country,"Source":source,
                    "INDUSTRY":ind})

In [19]:
data

,RANK,NAME,NETWORTH,AGE,COUNTRY,Source,INDUSTRY
0,1.,Elon Musk,$219 B,50,United States,"Tesla, SpaceX",Automotive
1,2.,Jeff Bezos,$171 B,58,United States,Amazon,Technology
2,3.,Bernard Arnault & family,$158 B,73,France,LVMH,Fashion & Retail
3,4.,Bill Gates,$129 B,66,United States,Microsoft,Technology
4,5.,Warren Buffett,$118 B,91,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...,...
195,192.,Marcel Herrmann Telles,$10.3 B,72,Brazil,beer,Food & Beverage
196,197.,Leon Black,$10 B,70,United States,private equity,Finance & Investments
197,197.,Joe Gebbia,$10 B,40,United States,Airbnb,Technology
198,197.,David Geffen,$10 B,79,United States,"movies, record labels",Media & Entertainment
199,197.,Yu Renrong,$10 B,56,China,semiconductors,Manufacturing

In [20]:
data.to_csv("FORBES TOP 200.csv")