In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")

In [3]:
url

In [4]:
soup = BeautifulSoup(url.content)

In [5]:
name = []

for i in soup.find_all("div",class_="rankings-block__banner--name"):
    name.append(i.text)

name

['Babar Azam',
 'Trent Boult',
 'Shakib Al Hasan',
 'Babar Azam',
 'Trent Boult',
 'Shakib Al Hasan']

In [6]:
name1=[]

for i in soup.find_all("td",class_="table-body__cell name"):
    name1.append(i.text.split("\n")[1])

name1

['Rassie van der Dussen',
 'Imam-ul-Haq',
 'Quinton de Kock',
 'David Warner',
 'Virat Kohli',
 'Steve Smith',
 'Rohit Sharma',
 'Jonny Bairstow',
 'Fakhar Zaman',
 'Josh Hazlewood',
 'Mitchell Starc',
 'Rashid Khan',
 'Matt Henry',
 'Adam Zampa',
 'Shaheen Afridi',
 'Shakib Al Hasan',
 'Mustafizur Rahman',
 'Mujeeb Ur Rahman',
 'Mohammad Nabi',
 'Mehedi Hasan',
 'Rashid Khan',
 'Mitchell Santner',
 'Sikandar Raza',
 'Zeeshan Maqsood',
 'Wanindu Hasaranga',
 'Assad Vala',
 'Dhananjaya de Silva',
 'Rassie van der Dussen',
 'Imam-ul-Haq',
 'Quinton de Kock',
 'David Warner',
 'Virat Kohli',
 'Steve Smith',
 'Rohit Sharma',
 'Jonny Bairstow',
 'Fakhar Zaman',
 'Josh Hazlewood',
 'Mitchell Starc',
 'Rashid Khan',
 'Matt Henry',
 'Adam Zampa',
 'Shaheen Afridi',
 'Shakib Al Hasan',
 'Mustafizur Rahman',
 'Mujeeb Ur Rahman',
 'Mohammad Nabi',
 'Mehedi Hasan',
 'Rashid Khan',
 'Mitchell Santner',
 'Sikandar Raza',
 'Zeeshan Maqsood',
 'Wanindu Hasaranga',
 'Assad Vala',
 'Dhananjaya de Silva']

In [7]:
len(name1)

54

In [8]:
name1 = name1[:9]

In [9]:
name1

['Rassie van der Dussen',
 'Imam-ul-Haq',
 'Quinton de Kock',
 'David Warner',
 'Virat Kohli',
 'Steve Smith',
 'Rohit Sharma',
 'Jonny Bairstow',
 'Fakhar Zaman']

In [10]:
name1.insert(0,name[0])

In [11]:
name1

['Babar Azam',
 'Rassie van der Dussen',
 'Imam-ul-Haq',
 'Quinton de Kock',
 'David Warner',
 'Virat Kohli',
 'Steve Smith',
 'Rohit Sharma',
 'Jonny Bairstow',
 'Fakhar Zaman']

In [12]:
print(len(name1))

10

In [13]:
rating = []

for i in soup.find_all("div",class_="rankings-block__banner--rating"):
    rating.append(i.text)
    
rating

['891', '744', '389', '891', '744', '389']

In [14]:
rating1 = []

for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    rating1.append(i.text)

rating1

['766',
 '764',
 '759',
 '747',
 '726',
 '719',
 '715',
 '710',
 '695',
 '727',
 '665',
 '659',
 '656',
 '655',
 '654',
 '652',
 '638',
 '637',
 '310',
 '284',
 '280',
 '261',
 '261',
 '238',
 '233',
 '233',
 '226',
 '766',
 '764',
 '759',
 '747',
 '726',
 '719',
 '715',
 '710',
 '695',
 '727',
 '665',
 '659',
 '656',
 '655',
 '654',
 '652',
 '638',
 '637',
 '310',
 '284',
 '280',
 '261',
 '261',
 '238',
 '233',
 '233',
 '226']

In [15]:
rating1 = rating1[:9]

In [16]:
rating1.insert(0,rating[0])

In [17]:
print(len(rating1))

10

In [18]:
import pandas as pd
import numpy as np

In [19]:
TEAM_Name = ["Pakistan","South Africa","Pakistan","South Africa","Australia","India","Australia","India","England","Pakistan"]

In [20]:
data = pd.DataFrame({"Name":name1,"TEAM":TEAM_Name,"Player Rating":rating1})

In [21]:
data

                    Name          TEAM Player Rating
0             Babar Azam      Pakistan           891
1  Rassie van der Dussen  South Africa           766
2            Imam-ul-Haq      Pakistan           764
3        Quinton de Kock  South Africa           759
4           David Warner     Australia           747
5            Virat Kohli         India           726
6            Steve Smith     Australia           719
7           Rohit Sharma         India           715
8         Jonny Bairstow       England           710
9           Fakhar Zaman      Pakistan           695