In [3]:
from bs4 import BeautifulSoup
import requests

In [4]:
url = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

In [5]:
url

In [6]:
soup = BeautifulSoup(url.content)

In [7]:
teamname=[]

for i in soup.find_all("span",class_="u-hide-phablet"):
    teamname.append(i.text)
    
teamname

['New Zealand',
 'England',
 'Australia',
 'Pakistan',
 'India',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'Afghanistan',
 'West Indies',
 'Ireland',
 'Scotland',
 'Zimbabwe',
 'Namibia',
 'Netherlands',
 'Oman',
 'UAE',
 'United States',
 'Nepal',
 'Papua New Guinea']

In [8]:
matches = []

for i in soup.find_all("td",class_="rankings-block__banner--matches"):
    matches.append(i.text)
    
matches

['23']

In [9]:
points = []

for i in soup.find_all("td",class_="rankings-block__banner--points"):
    points.append(i.text)
    
points

['2,670']

In [10]:
rating = []

for i in soup.find_all("td",class_="rankings-block__banner--rating u-text-right"):
    rating.append(i.text.split("\n")[1])
    
rating

['                            116']

In [11]:
for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
    
rating

['                            116',
 '113',
 '112',
 '110',
 '109',
 '100',
 '95',
 '89',
 '71',
 '71',
 '53',
 '47',
 '42',
 '37',
 '32',
 '31',
 '28',
 '26',
 '16',
 '4']

In [12]:
print(len(rating))

20

In [13]:
newl = []

for i in soup.find_all("td",class_="table-body__cell u-center-text"):
        newl.append(i.text)
        
newl

['30',
 '3,400',
 '32',
 '3,572',
 '23',
 '2,520',
 '39',
 '4,238',
 '24',
 '2,392',
 '33',
 '3,129',
 '32',
 '2,858',
 '20',
 '1,419',
 '41',
 '2,902',
 '23',
 '1,214',
 '31',
 '1,459',
 '26',
 '1,098',
 '26',
 '971',
 '21',
 '673',
 '30',
 '919',
 '25',
 '693',
 '31',
 '821',
 '28',
 '456',
 '30',
 '128']

In [15]:
print(len(newl))

38

In [16]:
for i in newl:
    if len(i)==2:
        matches.append(i)
    else:
        points.append(i)

In [17]:
matches

['23',
 '30',
 '32',
 '23',
 '39',
 '24',
 '33',
 '32',
 '20',
 '41',
 '23',
 '31',
 '26',
 '26',
 '21',
 '30',
 '25',
 '31',
 '28',
 '30']

In [18]:
points

['2,670',
 '3,400',
 '3,572',
 '2,520',
 '4,238',
 '2,392',
 '3,129',
 '2,858',
 '1,419',
 '2,902',
 '1,214',
 '1,459',
 '1,098',
 '971',
 '673',
 '919',
 '693',
 '821',
 '456',
 '128']

In [19]:
print(len(rating),len(matches),len(points))

20 20 20

In [23]:
rating  = rating[:10]
matches = matches[:10]
points = points[:10]
teamname = teamname[:10]

In [24]:
print(len(rating),len(matches),len(points),len(teamname))

10 10 10 10

In [25]:
import pandas as pd

In [27]:
data = pd.DataFrame({"TEAM Name":teamname,"Matches":matches,"Points":points,"Rating":rating})

In [28]:
data

      TEAM Name Matches Points                           Rating
0   New Zealand      23  2,670                              116
1       England      30  3,400                              113
2     Australia      32  3,572                              112
3      Pakistan      23  2,520                              110
4         India      39  4,238                              109
5  South Africa      24  2,392                              100
6    Bangladesh      33  3,129                               95
7     Sri Lanka      32  2,858                               89
8   Afghanistan      20  1,419                               71
9   West Indies      41  2,902                               71

In [29]:
data.to_csv("TOP 10 ODI TEAM.csv")