In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")

In [3]:
url

In [4]:
soup = BeautifulSoup(url.content)

In [5]:
name = []

for i in soup.find_all("div",class_="rankings-block__banner--name"):
    name.append(i.text)

name

['Babar Azam',
 'Trent Boult',
 'Shakib Al Hasan',
 'Babar Azam',
 'Trent Boult',
 'Shakib Al Hasan']

In [6]:
name1=[]

for i in soup.find_all("td",class_="table-body__cell name"):
    name1.append(i.text.split("\n")[1])

name1

['Rassie van der Dussen',
 'Imam-ul-Haq',
 'Quinton de Kock',
 'David Warner',
 'Virat Kohli',
 'Steve Smith',
 'Rohit Sharma',
 'Jonny Bairstow',
 'Fakhar Zaman',
 'Josh Hazlewood',
 'Mitchell Starc',
 'Rashid Khan',
 'Matt Henry',
 'Adam Zampa',
 'Shaheen Afridi',
 'Shakib Al Hasan',
 'Mustafizur Rahman',
 'Mujeeb Ur Rahman',
 'Mohammad Nabi',
 'Mehedi Hasan',
 'Rashid Khan',
 'Mitchell Santner',
 'Sikandar Raza',
 'Zeeshan Maqsood',
 'Wanindu Hasaranga',
 'Assad Vala',
 'Dhananjaya de Silva',
 'Rassie van der Dussen',
 'Imam-ul-Haq',
 'Quinton de Kock',
 'David Warner',
 'Virat Kohli',
 'Steve Smith',
 'Rohit Sharma',
 'Jonny Bairstow',
 'Fakhar Zaman',
 'Josh Hazlewood',
 'Mitchell Starc',
 'Rashid Khan',
 'Matt Henry',
 'Adam Zampa',
 'Shaheen Afridi',
 'Shakib Al Hasan',
 'Mustafizur Rahman',
 'Mujeeb Ur Rahman',
 'Mohammad Nabi',
 'Mehedi Hasan',
 'Rashid Khan',
 'Mitchell Santner',
 'Sikandar Raza',
 'Zeeshan Maqsood',
 'Wanindu Hasaranga',
 'Assad Vala',
 'Dhananjaya de Silva']

In [7]:
name1 = name1[9:18]

In [8]:
len(name1)

9

In [9]:
name1

['Josh Hazlewood',
 'Mitchell Starc',
 'Rashid Khan',
 'Matt Henry',
 'Adam Zampa',
 'Shaheen Afridi',
 'Shakib Al Hasan',
 'Mustafizur Rahman',
 'Mujeeb Ur Rahman']

In [10]:
name1.insert(0,name[1])

In [11]:
name1

['Trent Boult',
 'Josh Hazlewood',
 'Mitchell Starc',
 'Rashid Khan',
 'Matt Henry',
 'Adam Zampa',
 'Shaheen Afridi',
 'Shakib Al Hasan',
 'Mustafizur Rahman',
 'Mujeeb Ur Rahman']

In [12]:
print(len(name1))

10

In [13]:
rating = []

for i in soup.find_all("div",class_="rankings-block__banner--rating"):
    rating.append(i.text)
    
rating

['891', '744', '389', '891', '744', '389']

In [14]:
rating1 = []

for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    rating1.append(i.text)

rating1

['766',
 '764',
 '759',
 '747',
 '726',
 '719',
 '715',
 '710',
 '695',
 '727',
 '665',
 '659',
 '656',
 '655',
 '654',
 '652',
 '638',
 '637',
 '310',
 '284',
 '280',
 '261',
 '261',
 '238',
 '233',
 '233',
 '226',
 '766',
 '764',
 '759',
 '747',
 '726',
 '719',
 '715',
 '710',
 '695',
 '727',
 '665',
 '659',
 '656',
 '655',
 '654',
 '652',
 '638',
 '637',
 '310',
 '284',
 '280',
 '261',
 '261',
 '238',
 '233',
 '233',
 '226']

In [15]:
rating1 = rating1[9:18]

In [16]:
rating1.insert(0,rating[1])

In [17]:
rating1

['744', '727', '665', '659', '656', '655', '654', '652', '638', '637']

In [18]:
print(len(rating1))

10

In [19]:
len(rating1)

10

In [24]:
print(len(name1),len(rating1),len(Team_Name))

10 6 10

In [21]:
import pandas as pd

In [22]:
Team_Name = ["New Zealand","Australia","Australia","Afghanistan","New Zealand","Australia","Pakistan","Bangladesh","Bangladesh","Afghanistan"]

In [25]:
data = pd.DataFrame({"Player Name":name1,"TEAM":Team_Name,"Rating":rating1})

In [26]:
data

         Player Name         TEAM Rating
0        Trent Boult  New Zealand    744
1     Josh Hazlewood    Australia    727
2     Mitchell Starc    Australia    665
3        Rashid Khan  Afghanistan    659
4         Matt Henry  New Zealand    656
5         Adam Zampa    Australia    655
6     Shaheen Afridi     Pakistan    654
7    Shakib Al Hasan   Bangladesh    652
8  Mustafizur Rahman   Bangladesh    638
9   Mujeeb Ur Rahman  Afghanistan    637