In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")

In [3]:
url

In [4]:
soup = BeautifulSoup(url.content)

In [5]:
name = []

for i in soup.find_all("div",class_="rankings-block__banner--name"):
    name.append(i.text)

name

['Alyssa Healy', 'Sophie Ecclestone', 'Ellyse Perry']

In [6]:
name1=[]

for i in soup.find_all("td",class_="table-body__cell name"):
    name1.append(i.text.split("\n")[1])

name1

['Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Meg Lanning',
 'Rachael Haynes',
 'Chamari Athapaththu',
 'Ellyse Perry',
 'Jess Jonassen',
 'Megan Schutt',
 'Shabnim Ismail',
 'Jhulan Goswami',
 'Hayley Matthews',
 'Kate Cross',
 'Ayabonga Khaka',
 'Rajeshwari Gayakwad',
 'Marizanne Kapp',
 'Hayley Matthews',
 'Natalie Sciver',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Jhulan Goswami',
 'Sophie Ecclestone']

In [7]:
name1 = name1[:9]

In [9]:
name1

['Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Meg Lanning',
 'Rachael Haynes',
 'Chamari Athapaththu',
 'Ellyse Perry']

In [10]:
name1.insert(0,name[0])

In [11]:
name1

['Alyssa Healy',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Meg Lanning',
 'Rachael Haynes',
 'Chamari Athapaththu',
 'Ellyse Perry']

In [12]:
print(len(name1))

10

In [13]:
rating = []

for i in soup.find_all("div",class_="rankings-block__banner--rating"):
    rating.append(i.text)
    
rating

['785', '751', '374']

In [15]:
rating1 = []

for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    rating1.append(i.text)

rating1

['749',
 '732',
 '731',
 '716',
 '714',
 '710',
 '701',
 '655',
 '642',
 '725',
 '722',
 '722',
 '698',
 '660',
 '655',
 '634',
 '617',
 '598',
 '373',
 '371',
 '349',
 '336',
 '322',
 '270',
 '246',
 '214',
 '205']

In [16]:
rating1 = rating1[:9]

In [17]:
rating1.insert(0,rating[0])

In [18]:
print(len(rating1))

10

In [19]:
import pandas as pd
import numpy as np

In [20]:
TEAM_Name = ["Australia","Australia","South Africa","England","India","India","Australia","Australia","Sri Lanka","Australia"]

In [21]:
data = pd.DataFrame({"Name":name1,"TEAM":TEAM_Name,"Player Rating":rating1})

In [22]:
data

                  Name          TEAM Player Rating
0         Alyssa Healy     Australia           785
1          Beth Mooney     Australia           749
2      Laura Wolvaardt  South Africa           732
3       Natalie Sciver       England           731
4     Harmanpreet Kaur         India           716
5      Smriti Mandhana         India           714
6          Meg Lanning     Australia           710
7       Rachael Haynes     Australia           701
8  Chamari Athapaththu     Sri Lanka           655
9         Ellyse Perry     Australia           642