In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")

In [3]:
url

In [4]:
soup = BeautifulSoup(url.content)

In [5]:
name = []

for i in soup.find_all("div",class_="rankings-block__banner--name"):
    name.append(i.text)

name

['Alyssa Healy', 'Sophie Ecclestone', 'Ellyse Perry']

In [6]:
name1=[]

for i in soup.find_all("td",class_="table-body__cell name"):
    name1.append(i.text.split("\n")[1])

name1

['Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Meg Lanning',
 'Rachael Haynes',
 'Chamari Athapaththu',
 'Ellyse Perry',
 'Jess Jonassen',
 'Megan Schutt',
 'Shabnim Ismail',
 'Jhulan Goswami',
 'Hayley Matthews',
 'Kate Cross',
 'Ayabonga Khaka',
 'Rajeshwari Gayakwad',
 'Marizanne Kapp',
 'Hayley Matthews',
 'Natalie Sciver',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Jhulan Goswami',
 'Sophie Ecclestone']

In [7]:
name1 = name1[18:]

In [8]:
name1

['Hayley Matthews',
 'Natalie Sciver',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Jhulan Goswami',
 'Sophie Ecclestone']

In [9]:
len(name1)

9

In [10]:
name1.insert(0,name[2])

In [11]:
name1

['Ellyse Perry',
 'Hayley Matthews',
 'Natalie Sciver',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Jhulan Goswami',
 'Sophie Ecclestone']

In [12]:
print(len(name1))

10

In [13]:
rating = []

for i in soup.find_all("div",class_="rankings-block__banner--rating"):
    rating.append(i.text)
    
rating

['785', '751', '374']

In [14]:
rating1 = []

for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    rating1.append(i.text)

rating1

['749',
 '732',
 '731',
 '716',
 '714',
 '710',
 '701',
 '655',
 '642',
 '725',
 '722',
 '722',
 '698',
 '660',
 '655',
 '634',
 '617',
 '598',
 '373',
 '371',
 '349',
 '336',
 '322',
 '270',
 '246',
 '214',
 '205']

In [15]:
rating1 = rating1[18:]

In [16]:
rating1.insert(0,rating[2])

In [17]:
rating1

['374', '373', '371', '349', '336', '322', '270', '246', '214', '205']

In [18]:
len(rating1)

10

In [19]:
Team_Name = ["Australia","West Indies","England","South Africa","New Zealand","India","Australia","Australia","India","England"]

In [20]:
print(len(name1),len(rating1),len(Team_Name))

10 10 10

In [23]:
import pandas as pd

In [24]:
data = pd.DataFrame({"Player Name":name1,"TEAM":Team_Name,"Rating":rating1})

In [25]:
data

         Player Name          TEAM Rating
0       Ellyse Perry     Australia    374
1    Hayley Matthews   West Indies    373
2     Natalie Sciver       England    371
3     Marizanne Kapp  South Africa    349
4        Amelia Kerr   New Zealand    336
5      Deepti Sharma         India    322
6   Ashleigh Gardner     Australia    270
7      Jess Jonassen     Australia    246
8     Jhulan Goswami         India    214
9  Sophie Ecclestone       England    205