In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

In [3]:
url

In [4]:
soup = BeautifulSoup(url.content)

In [5]:
teamname=[]

for i in soup.find_all("span",class_="u-hide-phablet"):
    teamname.append(i.text)
    
teamname

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Sri Lanka',
 'Ireland',
 'Netherlands',
 'Zimbabwe']

In [6]:
teamname = teamname[:10]

In [7]:
len(teamname)

10

In [8]:
matches = []

for i in soup.find_all("td",class_="rankings-block__banner--matches"):
    matches.append(i.text)
    
matches

['18']

In [9]:
points = []

for i in soup.find_all("td",class_="rankings-block__banner--points"):
    points.append(i.text)
    
points

['3,061']

In [10]:
rating = []

for i in soup.find_all("td",class_="rankings-block__banner--rating u-text-right"):
    rating.append(i.text.split("\n")[1])
    
rating

['                            170']

In [11]:
for i in soup.find_all("td",class_="table-body__cell u-text-right rating"):
    rating.append(i.text)

In [12]:
rating

['                            170',
 '119',
 '119',
 '104',
 '102',
 '94',
 '76',
 '72',
 '63',
 '44',
 '39',
 '0',
 '0']

In [13]:
rating = rating[:10]

In [14]:
len(rating)

10

In [15]:
newl = []

for i in soup.find_all("td",class_="table-body__cell u-center-text"):
        newl.append(i.text)
        
newl

['28',
 '3,342',
 '26',
 '3,098',
 '27',
 '2,820',
 '25',
 '2,553',
 '27',
 '2,535',
 '13',
 '983',
 '8',
 '572',
 '24',
 '1,519',
 '8',
 '353',
 '14',
 '548',
 '9',
 '0',
 '8',
 '0']

In [16]:
print(len(newl))

24

In [20]:
for i in newl:
    if newl.index(i)==0 or newl.index(i)%2==0:
        matches.append(i)
    elif newl.index(i) % 2!=0:
        points.append(i)

In [21]:
matches

['18', '28', '26', '27', '25', '27', '13', '8', '24', '8', '14', '9', '8']

In [22]:
points

['3,061',
 '3,342',
 '3,098',
 '2,820',
 '2,553',
 '2,535',
 '983',
 '572',
 '1,519',
 '353',
 '548',
 '0',
 '0']

In [23]:
print(len(rating),len(matches),len(points))

10 13 13

In [24]:
rating  = rating[:10]
matches = matches[:10]
points = points[:10]
teamname = teamname[:10]

In [25]:
print(len(rating),len(matches),len(points),len(teamname))

10 10 10 10

In [26]:
import pandas as pd

In [27]:
data = pd.DataFrame({"TEAM Name":teamname,"Matches":matches,"Points":points,"Rating":rating})

In [28]:
data

      TEAM Name Matches Points                           Rating
0     Australia      18  3,061                              170
1       England      28  3,342                              119
2  South Africa      26  3,098                              119
3         India      27  2,820                              104
4   New Zealand      25  2,553                              102
5   West Indies      27  2,535                               94
6    Bangladesh      13    983                               76
7      Thailand       8    572                               72
8      Pakistan      24  1,519                               63
9     Sri Lanka       8    353                               44

In [29]:
data.to_csv("TOP 10 ODI WOMEN TEAM.csv")