In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.maximize_window()

In [4]:
driver.get(r'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [5]:
name = []
author = []
volume = []
pub = []
genre = []

In [6]:
try:
    name_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in name_tag:
        j = i.text
        name.append(j)
except NoSuchElementException as e:
    name.append("-")

In [7]:
len(name)

100

In [8]:
try:
    author_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author_tag:
        j = i.text
        author.append(j)
except NoSuchElementException as e:
    author.append("-")

In [9]:
try:
    volume_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in volume_tag:
        j = i.text
        volume.append(j)
except NoSuchElementException as e:
    volume.append("-")

In [10]:
try:
    pub_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in pub_tag:
        j = i.text
        pub.append(j)
except NoSuchElementException as e:
    pub.append("-")

In [11]:
try:
    genre_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre_tag:
        j = i.text
        genre.append(j)
except NoSuchElementException as e:
    genre.append("-")

In [12]:
data = pd.DataFrame({"TITLE":name,"AUTHOR":author,
                    "VOLUME SOLD":volume,"PUBLICATION":pub,
                    "GENRE":genre})

In [13]:
data

,TITLE,AUTHOR,VOLUME SOLD,PUBLICATION,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General