In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.maximize_window()

In [4]:
driver.get(r'https://archive.ics.uci.edu/ml/index.php')

In [5]:
aa = driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]')
aa.click()

In [6]:
name = []
datatype = []
task = []
att = []
inst = []
atta = []
year = []
alld = []

In [7]:
try:
    alld_tag = driver.find_elements(By.XPATH,'//p[@class="normal"]')
    for i in alld_tag[8:4362]:
        j = i.text
        alld.append(j)
except NoSuchElementException as e:
    alld.append("-")

In [8]:
name = alld[::7]
datatype = alld[1::7]
task = alld[2::7]
att = alld[3::7]
inst = alld[4::7]
atta =alld[5::7]
year = alld[6::7]

In [9]:
len(name),len(datatype),len(task),len(att),len(inst),len(atta),len(year)

(622, 622, 622, 622, 622, 622, 622)

In [10]:
data = pd.DataFrame({"DATASET NAME":name,"DATASET TYPE":datatype,
                    "TASK":task,"ATTRIBUTE TYPE":att,
                    "NO FO INSTANCES":inst,"NO OF ATTRIBUTES":atta,
                    "YEAR":year})

In [11]:
data

,DATASET NAME,DATASET TYPE,TASK,ATTRIBUTE TYPE,NO FO INSTANCES,NO OF ATTRIBUTES,YEAR
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021