In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
driver.maximize_window()

In [5]:
rank = []
name = []
artist = []
upload_date = []
views = []

In [6]:
from selenium.common.exceptions import NoSuchElementException

In [7]:
try:
    rank_tag = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
    for i in rank_tag[0:30]:
        j = i.text
        rank.append(j)
except NoSuchElementException as e:
    rank.append("-")

In [8]:
try:
    name_tag = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
    for i in name_tag[0:30]:
        j = i.text
        name.append(j)
except NoSuchElementException as e:
    name.append("-")

In [9]:
try:
    artist_tag = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
    for i in artist_tag[0:30]:
        j = i.text
        artist.append(j)
except NoSuchElementException as e:
    artist.append("-")

In [10]:
try:
    upload_date_tag = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
    for i in upload_date_tag[0:30]:
        j = i.text
        upload_date.append(j)
except NoSuchElementException as e:
    upload_date.append("-")

In [11]:
try:
    views_tag = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
    for i in views_tag[0:30]:
        j = i.text
        views.append(j)
except NoSuchElementException as e:
    views.append("-")

In [13]:
len(name),len(rank),len(artist),len(upload_date),len(views)

(30, 30, 30, 30, 30)

In [14]:
data = pd.DataFrame({"RANK":rank,"NAME":name,
                    "ARTIST":artist,"UPLOAD DATE":upload_date,
                    "VIEWS":views})

In [15]:
data

,RANK,NAME,ARTIST,UPLOAD DATE,VIEWS
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.13
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.07
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.59
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.96
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.89
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.76
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.12
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.84
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.80
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.79
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.66
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.21
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.81
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.72
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.71
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.71
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.62
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.54
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.48
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.44
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.43
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.39
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.37
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.36
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.35
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.32
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.32
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.29
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.26

In [3]:
driver.get("https://www.bcci.tv/")

In [4]:
driver.maximize_window()

In [5]:
inte = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
inte.click()

In [6]:
fix = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[1]/div/div[1]')
fix.click()

In [7]:
men = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[1]/div/div[2]/div[2]')
men.click()

In [8]:
from selenium.common.exceptions import NoSuchElementException

In [9]:
title = []
series = []
place = []
date = []
time = []

In [10]:
try:
    title_tag = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in title_tag:
        j = i.text.split(" -")[0]
        title.append(j)
except NoSuchElementException as e:
    title.append("-")

In [11]:
try:
    series_tag = driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
    for i in series_tag:
        j = i.text
        series.append(j)
except NoSuchElementException as e:
    series.append("-")

In [12]:
try:
    place_tag = driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
    for i in place_tag:
        j = i.text.split(" - ")[1]
        place.append(j)
except NoSuchElementException as e:
    place.append("-")

In [13]:
try:
    date_tag = driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
    for i in date_tag:
        j = i.text
        date.append(j)
except NoSuchElementException as e:
    date.append("-")

In [14]:
try:
    time_tag = driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
    for i in time_tag:
        j = i.text
        time.append(j)
except NoSuchElementException as e:
    time.append("-")

In [16]:
data = pd.DataFrame({"TITLE":title,"Series":series,
                    "PLACE":place,"DATE":date,
                    "TIME":time})

In [17]:
data

,TITLE,Series,PLACE,DATE,TIME
0,3rd T20I,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,"Narendra Modi Stadium, Ahmedabad",1 FEB 2023,7:00 PM IST
1,1st Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Vidarbha Cricket Association Stadium, Nagpur",9 FEB 2023,9:30 AM IST
2,2nd Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Arun Jaitley Stadium, Delhi",17 FEB 2023,9:30 AM IST
3,3rd Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Himachal Pradesh Cricket Association Stadium, ...",1 MAR 2023,9:30 AM IST
4,4th Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,"Narendra Modi Stadium, Ahmedabad",9 MAR 2023,9:30 AM IST
5,1st ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Wankhede Stadium, Mumbai",17 MAR 2023,1:30 PM IST
6,2nd ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,19 MAR 2023,1:30 PM IST
7,3rd ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"MA Chidambaram Stadium, Chennai",22 MAR 2023,1:30 PM IST

In [4]:
driver.get("https://www.statisticstimes.com/economy/india-statistics.php")

In [5]:
gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]')
gdp.click()

In [6]:
rank = []
state = []
gsdp18_19 = []
gsdp19_20 = []
share = []
gdp = []

In [7]:
try:
    rank_tag = driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[1]')
    for i in rank_tag[0:33]:
        j = i.text
        rank.append(j)
except NoSuchElementException as e:
    rank.append("-")

In [8]:
try:
    state_tag = driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[2]')
    for i in state_tag[0:33]:
        j = i.text
        state.append(j)
except NoSuchElementException as e:
    state.append("-")

In [9]:
try:
    gsdp18_19_tag = driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[4]')
    for i in gsdp18_19_tag[0:33]:
        j = i.text
        gsdp18_19.append(j)
except NoSuchElementException as e:
    gsdp18_19.append("-")

In [10]:
try:
    gsdp19_20_tag = driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[3]')
    for i in gsdp19_20_tag[0:33]:
        j = i.text
        gsdp19_20.append(j)
except NoSuchElementException as e:
    gsdp19_20.append("-")

In [11]:
try:
    share_tag = driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[5]')
    for i in share_tag[0:33]:
        j = i.text
        share.append(j)
except NoSuchElementException as e:
    share.append("-")

In [12]:
try:
    gdp_tag = driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[6]')
    for i in gdp_tag[0:33]:
        j = i.text
        gdp.append(j)
except NoSuchElementException as e:
    gdp.append("-")

In [14]:
data = pd.DataFrame({"RANK":rank,"STATE":state,
                    "GSDP 18-19":gsdp18_19,"GSDP 19-20":gsdp19_20,
                    "SHARE":share,"GDP":gdp})

In [15]:
data

   RANK                      STATE GSDP 18-19 GSDP 19-20   SHARE      GDP
0     1                Maharashtra  2,632,792          -  13.94%  399.921
1     2                 Tamil Nadu  1,630,208  1,845,853   8.63%  247.629
2     3              Uttar Pradesh  1,584,764  1,687,818   8.39%  240.726
3     4                    Gujarat  1,502,899          -   7.96%  228.290
4     5                  Karnataka  1,493,127  1,631,977   7.91%  226.806
5     6                West Bengal  1,089,898  1,253,832   5.77%  165.556
6     7                  Rajasthan    942,586  1,020,989   4.99%  143.179
7     8             Andhra Pradesh    862,957    972,782   4.57%  131.083
8     9                  Telangana    861,031    969,604   4.56%  130.791
9    10             Madhya Pradesh    809,592    906,672   4.29%  122.977
10   11                     Kerala    781,653          -   4.14%  118.733
11   12                      Delhi    774,870    856,112   4.10%  117.703
12   13                    Haryana    734,163    831,610   3.89%  111.519
13   14                      Bihar    530,363    611,804   2.81%   80.562
14   15                     Punjab    526,376    574,760   2.79%   79.957
15   16                     Odisha    487,805    521,275   2.58%   74.098
16   17                      Assam    315,881          -   1.67%   47.982
17   18               Chhattisgarh    304,063    329,180   1.61%   46.187
18   19                  Jharkhand    297,204    328,598   1.57%   45.145
19   20                Uttarakhand    245,895          -   1.30%   37.351
20   21            Jammu & Kashmir    155,956          -   0.83%   23.690
21   22           Himachal Pradesh    153,845    165,472   0.81%   23.369
22   23                        Goa     73,170     80,449   0.39%   11.115
23   24                    Tripura     49,845     55,984   0.26%    7.571
24   25                 Chandigarh     42,114          -   0.22%    6.397
25   26                 Puducherry     34,433     38,253   0.18%    5.230
26   27                  Meghalaya     33,481     36,572   0.18%    5.086
27   28                     Sikkim     28,723     32,496   0.15%    4.363
28   29                    Manipur     27,870     31,790   0.15%    4.233
29   30                   Nagaland     27,283          -   0.14%    4.144
30   31          Arunachal Pradesh     24,603          -   0.13%    3.737
31   32                    Mizoram     22,287     26,503   0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -       -        -

In [4]:
driver.get(r'https://github.com/')

In [5]:
aa = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
aa.click()

In [6]:
bb = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]')
bb.click()

In [7]:
title = []
desc = []
count = []
language = []
asd = []

In [8]:
try:
    title_tag = driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
    for i in title_tag[0:23]:
        j = i.text
        title.append(j)
except NoSuchElementException as e:
    title.append("-")

In [9]:
try:
    desc_tag = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in desc_tag[0:23]:
        j = i.text
        desc.append(j)
except NoSuchElementException as e:
    desc.append("-")

In [10]:
try:
    asd_tag = driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"]')
    for i in asd_tag[0:46]:
        j = i.text
        asd.append(j)
except NoSuchElementException as e:
    asd.append("-")

In [11]:
for i in asd:
    if asd.index(i) %2 !=0:
        count.append(i)

In [12]:
try:
    lang_tag = driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
    for i in lang_tag[0:23]:
        j = i.text
        language.append(j)
except NoSuchElementException as e:
    language.append("-")

In [14]:
data = pd.DataFrame({"TITLE":title,"DESCRIPTION":desc,
                    "COUNT":count,"LANGAUGE":language})

In [15]:
data

,TITLE,DESCRIPTION,COUNT,LANGAUGE
0,fathyb / carbonyl,Chromium running inside your terminal,149,Rust
1,localsend / localsend,An open source cross-platform alternative to A...,169,Dart
2,bregman-arie / devops-exercises,"Linux, Jenkins, AWS, SRE, Prometheus, Docker, ...","8,505",Python
3,521xueweihan / HelloGitHub,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...","8,523",Python
4,mindsdb / mindsdb,In-Database Machine Learning,"1,475",Python
5,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,"17,932",Python
6,AzeemIdrisi / PhoneSploit-Pro,An all-in-one hacking tool to remotely exploit...,310,Java
7,Snailclimb / JavaGuide,「Java学习+面试指南」一份涵盖大部分 Java 程序员所需要掌握的核心知识。准备 Jav...,"43,184",Python
8,practical-tutorials / project-based-learning,Curated list of project-based tutorials,"12,518",Python
9,AabyssZG / SpringBoot-Scan,针对SpringBoot的开源渗透框架，以及高危漏洞利用工具,34,Python
10,lucidrains / musiclm-pytorch,"Implementation of MusicLM, Google's new SOTA m...",36,C++
11,LAION-AI / Open-Assistant,OpenAssistant is a chat-based assistant that u...,573,Java
12,MaaAssistantArknights / MaaAssistantArknights,《明日方舟》小助手，全日常一键长草！| An Arknights assistant com...,741,Python
13,apache / dubbo,"Apache Dubbo is a high-performance, java based...","25,552",C++
14,hwchase17 / chat-langchain,一个支持windows/linux/mac的文本编辑器，目标是要替换notepad++，来自中国。,39,Python
15,cxasm / notepad--,ALL IN ONE Hacking Tool For Hackers,38,Python
16,Z4nzu / hackingtool,Tune-A-Video: One-Shot Tuning of Image Diffusi...,"3,232",Java
17,showlab / Tune-A-Video,Spring Boot,15,Vue
18,spring-projects / spring-boot,高颜值的第三方网易云播放器，支持 Windows / macOS / Linux,"37,867",Python
19,qier222 / YesPlayMusic,You like pytorch? You like micrograd? You love...,"3,194",Java
20,geohot / tinygrad,"《Hello 算法》一本动画图解、能运行、可提问的数据结构与算法入门书，支持 Java, C...",900,Python
21,krahets / hello-algo,"Scrapy, a fast high-level web crawling & scrap...",752,Java
22,scrapy / scrapy,Google core libraries for Java,"9,852",Jupyter Notebook

In [4]:
driver.get(r'https://www.billboard.com/')

In [6]:
button = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
button.click()

In [7]:
bb = driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
bb.click()

In [8]:
cc = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a')
cc.click()

In [9]:
song = []
artist = []
lw = []
pr = []
wob = []
add = []

In [10]:
try:
    song_tag = driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]')
    for i in song_tag:
        j = i.text
        song.append(j)
except NoSuchElementException as e:
    song.append("-")

In [11]:
try:
    song_tag = driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
    for i in song_tag:
        j = i.text
        song.append(j)
except NoSuchElementException as e:
    song.append("-")

In [12]:
try:
    artist_tag = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
    for i in artist_tag:
        j = i.text
        artist.append(j)
except NoSuchElementException as e:
    artist.append("-")

In [13]:
try:
    artist_tag = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
    for i in artist_tag:
        j = i.text
        artist.append(j)
except NoSuchElementException as e:
    artist.append("-")

In [14]:
try:
    lw_tag = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]')
    for i in lw_tag[0:1]:
        j = i.text
        lw.append(j)
except NoSuchElementException as e:
    lw.append("-")

In [15]:
try:
    pr_tag = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]')
    for i in pr_tag[1:2]:
        j = i.text
        pr.append(j)
except NoSuchElementException as e:
    pr.append("-")

In [16]:
pr

['1']

In [17]:
try:
    wob_tag = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]')
    for i in wob_tag[2:3]:
        j = i.text
        wob.append(j)
except NoSuchElementException as e:
    wob.append("-")

In [18]:
wob

['2']

In [21]:
try:
    add_tag = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
    for i in add_tag:
        j = i.text
        if len(j) != 0:
            add.append(j)
except NoSuchElementException as e:
    add.append("-")

In [39]:
lw = add[::3]
pr = add[1::3]
wob = add[2::3]

In [42]:
lw.insert(0,"1")
pr.insert(0,"1")
wob.insert(0,"2")

In [44]:
data = pd.DataFrame({"SONG":song,"ARTIST":artist,
                    "LAST WEEK RANK":lw,"PEAK RANK":pr,
                    "WEEK ON CAHRT":wob})

In [45]:
data

,SONG,ARTIST,LAST WEEK RANK,PEAK RANK,WEEK ON CAHRT
0,Flowers,Miley Cyrus,1,1,2
1,Kill Bill,SZA,2,2,7
2,Anti-Hero,Taylor Swift,3,1,14
3,Creepin',"Metro Boomin, The Weeknd & 21 Savage",4,4,8
4,Unholy,Sam Smith & Kim Petras,5,1,18
...,...,...,...,...,...
95,Do It Again,NLE Choppa & 2Rare,-,96,1
96,Miss You,Oliver Tree & Robin Schulz,96,84,9
97,Back End,Finesse2Tymes,-,98,1
98,Open Arms,SZA Featuring Travis Scott,89,54,6
99,Spit In My Face!,ThxSoMch,-,100,1

In [4]:
driver.get(r'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [5]:
name = []
author = []
volume = []
pub = []
genre = []

In [6]:
try:
    name_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in name_tag:
        j = i.text
        name.append(j)
except NoSuchElementException as e:
    name.append("-")

In [7]:
len(name)

100

In [8]:
try:
    author_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author_tag:
        j = i.text
        author.append(j)
except NoSuchElementException as e:
    author.append("-")

In [9]:
try:
    volume_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in volume_tag:
        j = i.text
        volume.append(j)
except NoSuchElementException as e:
    volume.append("-")

In [10]:
try:
    pub_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in pub_tag:
        j = i.text
        pub.append(j)
except NoSuchElementException as e:
    pub.append("-")

In [11]:
try:
    genre_tag = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre_tag:
        j = i.text
        genre.append(j)
except NoSuchElementException as e:
    genre.append("-")

In [12]:
data = pd.DataFrame({"TITLE":name,"AUTHOR":author,
                    "VOLUME SOLD":volume,"PUBLICATION":pub,
                    "GENRE":genre})

In [13]:
data

,TITLE,AUTHOR,VOLUME SOLD,PUBLICATION,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [4]:
driver.get(r'https://www.imdb.com/list/ls095964455/')

In [5]:
name = []
year = []
genre = []
time = []
rating = []
vote = []
xd = []
vote2 = []

In [6]:
try:
    name_tag = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
    for i in name_tag:
        j = i.text.split(". ")[1].split(" (")[0]
        name.append(j)
except NoSuchElementException as e:
    name.append("-")

In [7]:
try:
    year_tag = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
    for i in year_tag:
        j = i.text.split(" (")[1].split(")")[0]
        year.append(j)
except NoSuchElementException as e:
    year.append("-")

In [8]:
try:
    genre_tag = driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in genre_tag:
        j = i.text
        genre.append(j)
except NoSuchElementException as e:
    genre.append("-")

In [9]:
try:
    time_tag = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in time_tag:
        j = i.text
        time.append(j)
except NoSuchElementException as e:
    time.append("-")

In [10]:
try:
    rating_tag = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
    for i in rating_tag:
        j = i.text
        rating.append(j)
except NoSuchElementException as e:
    rating.append("-")

In [11]:
try:
    xd_tag = driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]')
    for i in xd_tag:
        j = i.text
        xd.append(j)
except NoSuchElementException as e:
    xd.append("-")

In [12]:
vote = xd[2::3]

In [13]:
for i in vote:
    j = i.split(": ")[1]
    vote2.append(j)

In [16]:
data = pd.DataFrame({"TITLE":name,"YEAR SPAN":year,
                    "GENRE":genre,"RUN TIME":time,
                    "RATING":rating,"VOTES":vote2})

In [17]:
data

,TITLE,YEAR SPAN,GENRE,RUN TIME,RATING,VOTES
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"2,117,162"
1,Stranger Things,2016–,"Drama, Fantasy, Horror",51 min,8.7,"1,206,362"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.1,"1,003,533"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"296,457"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"255,380"
...,...,...,...,...,...,...
95,Reign,2013–2017,Drama,42 min,7.4,"50,655"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"62,518"
97,Criminal Minds,2005–,"Crime, Drama, Mystery",42 min,8.1,"202,168"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7.1,"41,972"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"249,875"

In [4]:
driver.get(r'https://archive.ics.uci.edu/ml/index.php')

In [5]:
aa = driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]')
aa.click()

In [6]:
name = []
datatype = []
task = []
att = []
inst = []
atta = []
year = []
alld = []

In [7]:
try:
    alld_tag = driver.find_elements(By.XPATH,'//p[@class="normal"]')
    for i in alld_tag[8:4362]:
        j = i.text
        alld.append(j)
except NoSuchElementException as e:
    alld.append("-")

In [8]:
name = alld[::7]
datatype = alld[1::7]
task = alld[2::7]
att = alld[3::7]
inst = alld[4::7]
atta =alld[5::7]
year = alld[6::7]

In [9]:
len(name),len(datatype),len(task),len(att),len(inst),len(atta),len(year)

(622, 622, 622, 622, 622, 622, 622)

In [10]:
data = pd.DataFrame({"DATASET NAME":name,"DATASET TYPE":datatype,
                    "TASK":task,"ATTRIBUTE TYPE":att,
                    "NO FO INSTANCES":inst,"NO OF ATTRIBUTES":atta,
                    "YEAR":year})

In [11]:
data

,DATASET NAME,DATASET TYPE,TASK,ATTRIBUTE TYPE,NO FO INSTANCES,NO OF ATTRIBUTES,YEAR
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021